@import '../abstract/variables';

footer {
    background-color: $primary-color;
    color: $secondary-color;
    position: relative;
    margin-top: 10rem;
    text-align: center;

    img {
        position: absolute;
        bottom: 35.5rem;          /* fixée en bas du footer */
        left: 0;            /* fixée à gauche */
        transform: none;    /* on supprime le translate */
        max-height: 150px;
        filter: drop-shadow(20px 20px 15px rgba(0, 0, 0, 0.6));
    }

    .h2-footer {
        font-family: 'Bebas Neue', sans-serif;
        background: none;
        color: $secondary-color;
        text-align: center;
        text-transform: uppercase;
        font-size: $font-size-h2*0.7;
        padding-top: 2rem;
        display: block;
        white-space: nowrap;
        text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.35);

        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        filter: none !important;
        background: transparent !important;

        &::after {
            content: "";
            display: block;
            width: 80px;
            height: 2px;
            background: $secondary-color;
            margin: 0.5rem auto 0;
        }
    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem 4rem;
        width: 100%;
        max-width: none;
        margin: 0 auto;
        padding: 20px 20px 0 20px;
        justify-items: start;

        .socials {

            ul {
                display: flex;
                gap: 1rem;
                justify-content: center;
                padding: 0;
                margin: 0;
                list-style: none;
                text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.35);
            }

            i {
                font-size: 2rem;
            }
        }
    }

    div {
        padding: 0;

        h3 {
            font-family: 'Bebas Neue', sans-serif;
            text-transform: uppercase;
            margin-bottom: 2rem;
            margin-top: -1rem;
            text-align: left;
            font-size: $font-size-h3 * 0.5;
            text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.35);
            white-space: nowrap;
        }

        ul {
            text-align: left;
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 0.9rem;
        }

        li {
            margin-bottom: 1.5rem;
            font-family: 'Inter', sans-serif;
        }
    }

.mailto {
    font-size: 0.7rem;
}
    .admin {
        font-size: 1rem;
    }
}
