@import '../abstract/variables';

header {
    text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.35);
    position: relative;
}

.menu {
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    grid-template-columns: auto 1fr;
    gap: 1.2rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 0.2rem 1.2rem;
    width: auto;
    max-width: 90vw;
    margin: 20px auto;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);

    /*********** Menu qui suit au scroll ***********/

    position: fixed;
    top: 2.5rem;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);

    .pinup-img {
        position: absolute;
        top: -55px;
        left: 135px;
        height: 100px;
        z-index: 1100;
        pointer-events: none;
        transform: scaleX(-1);
        filter: drop-shadow(7px 15px 6px rgba(0, 0, 0, 0.3));
    }

    .menu-title {
        grid-column: 1;
        margin-right: auto;
        font-family: 'Limelight', sans-serif;
    }

    .title-main1 {
        line-height: 1.2;
        font-size: 1.3rem;
    }

    .title-main2 {
        line-height: 1.2;
        font-size: 1.8rem;
    }

    .title-sub {
        display: block;
        font-size: 1.1rem;
        letter-spacing: 2px;
    }

    .menu-icons {
        display: flex;
        grid-column: 7;
        justify-content: flex-end;
        align-items: center;
        gap: 0.3rem;
        margin-left: 0;
        font-size: 2rem;
        &:hover {
            color: lighten($secondary-color, 15%);
        }

        .menu-link {
            font-size: 2rem;
            background: none;
            border: none;
            color: $secondary-color;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 0.2s ease;
        }

        i {
            pointer-events: none;
        }
    }
}

.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    padding: 12rem 1rem 1rem;
    left: auto;
    right: 0;
    width: min(70vw, 250px);
    bottom: 0;
    height: 100dvh;
    max-width: 250px;
    background-color: $primary-color;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
    z-index: 1200;
    transform: scaleX(0);
    transform-origin: right center;
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;

    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 1rem 0;


        li {
            margin: 1rem 0 1.5rem;
            text-align: center;


            a {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1rem;
                color: $secondary-color;
                transition: color 0.2s ease;
                font-family: 'Inter', sans-serif !important;
                font-weight: 400;
                text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.35);

                &:hover {
                    color: lighten($secondary-color, 15%);
                }
            }
        }
    }

    .menu-socials {
        text-align: center;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 30%;
            height: 2px;
            background-color: $secondary-color;
            margin: 0 auto 0.5rem auto;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 2rem;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            display: flex;
        }

        a {
            font-size: 2rem;
            color: $secondary-color;
        }
    }

    .close-btn {
        position: absolute;
        top: 50px;
        right: 20px;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: $secondary-color;
    }

    .img-menu {
        position: absolute;
        top: 60%;
        left: -185px;
        transform: translateY(-50%) translateX(100px);
        opacity: 0;
        filter: drop-shadow(25px 15px 4px rgba(0, 0, 0, 0.3));
        height: 400px;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .logo-light {
        height: 125px;
        align-self: center;
        margin:0 3rem;
    }

    &.open {
        transform: scaleX(1);
        opacity: 1;

        .img-menu {
            transform: translateY(-50%) translateX(0);
            opacity: 1;
        }
    }

    &.closing {
        transform: scaleX(0);
        opacity: 0;

        .img-menu {
            transform: translateY(-50%) translateX(100px);
            opacity: 0;
        }
    }
}

#open-menu {
    min-width: 50px;
    min-height: 70px;
    &:hover {
        color: $quaternary-color;
    }
}

#open-menu .fa-times {
    display: none;
}

#open-menu.active .fa-bars {
    display: none;
}

#open-menu.active .fa-times {
    display: inline;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgb(236, 217, 182, 0.3);
    backdrop-filter: blur(8px);
    z-index: 1100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.no-scroll {
    overflow: hidden;
}

@media (min-width: 640px) and (max-width: 1199px) {

    .menu {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        max-width: 700px;
        width: 90%;
        border-radius: 50px;
        .title-main1,
        .title-main2 {
            font-size: 2.5rem;
            margin-right: 0.5rem;
        }
    }

    .menu-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pinup-img {
        position: absolute !important;
        top: 41% !important;
        left: 45% !important;
        transform: scale(1.4) scaleX(-1) !important;
        height: 110px !important;
    }
}


/*********** MEDIA QUERIES 1200px et + ***********/
@media (min-width: 1200px) {

    .menu {
        max-width: 1300px;
        width: 90%;
        padding: 1.5rem 4rem;
        border-radius: 90px;
        gap: 3rem;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center; /* ✅ centre horizontalement tout le contenu */
        text-align: center;

        .menu-title {
            text-align: center;
            margin: 0 auto;
        }

        .title-main1 {
            font-size: 4rem;
            letter-spacing: 1px;
            margin-right: 1.2rem;
        }
        .title-main1,
        .title-main2 {
            font-size: 4rem;
            letter-spacing: 2px;
        }

        .title-sub {
            font-size: 2rem;
            letter-spacing: 4px;
            margin-top: .3rem;
        }

        .menu-icons {
            position: absolute;
            font-size: 3rem;
            right: 4rem;
            top: 50%;
            transform: translateY(-50%);
        }

        #open-menu {
            background: none;
            border: none;
            font-size: 3.2rem;
            cursor: pointer;
            min-width: 70px;
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pinup-img {
            top: 40px;
            left: 5%;
            transform: translateX(-50%) scale(1.6) scaleX(-1);
            height: 220px;
        }
    }

    .side-menu {
        max-width: 500px;
        width: 45vw;
        padding: 14rem 3rem 3rem;

        .img-menu {
            height: 600px; left: -260px;
        }

        ul li {
            margin-bottom: 2rem;
        }
        ul li a {
            font-size: 1.5rem;
        }

        .logo-light {
            height: 200px;
            margin-top: -1.5rem;
            margin-bottom: 1.5rem;
        }

        .menu-socials a { font-size: 2.4rem; }
    }
}
