{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <h1>Calendrier des événements</h1>
    <div id="calendar"></div>

    {# FullCalendar via CDN (CSS + JS) #}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

    {# JS perso #}
    {#  <script src="{{ asset('js/calendar.js') }}"></script>#}
{% endblock %}
