{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Page d'accueil ✅</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, eaque, numquam! Assumenda, atque autem commodi eius eligendi excepturi exercitationem facilis incidunt laudantium mollitia nostrum perspiciatis placeat, quia repellat, repellendus veniam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, beatae consequuntur deleniti eaque eligendi eos eveniet expedita facilis fugit nemo nulla odio perferendis repellendus. Commodi ipsam iste porro quibusdam voluptate!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis consequuntur culpa cupiditate dolore eius facilis fuga in iste laboriosam, libero maiores obcaecati pariatur, quia sint soluta vel? Commodi, impedit!</p>
{% endblock %}
