{% extends 'base.html.twig' %}

{% block title %}Accueil | Miss Pin-up France Bretagne{% endblock %}

{% block body %}

    <div class="content">
        <h1>Comité miss pin-up bretagne</h1>

            <img src="{{ asset('images/logo.png') }}" class ="logo" alt="">

        <p class="">L'association Pin-Up Bretagne rassemble des passionées de culture rétro, mode vintage et événements festifs. Rejoignez-nous pour des défilés, shootings, salons et moment hauts en couleurs !</p>
    </div>

{% endblock %}
