<h1 role="heading" aria-level="1">Veuillez confirmer votre adresse e-mail !</h1>

<p>
    Merci de confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}" style="color:#d14b3b; font-weight:bold;" aria-label="Confirmer votre adresse e-mail sur le site Miss Pin-Up Bretagne">
        Confirmer mon adresse e-mail
    </a>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt !
</p>
