<footer>

    <img src="{{ asset('images/femme 7.png') }}" alt="#">

    <h2>comité miss pin-up bretagne</h2>

    <nav>

        <div>
            <h3>mentions légales</h3>
            <ul>
                <li><a href="#">Siret</a></li>
                <li><a href="#">Hébergeur</a></li>
                <li><a href="#">Statut juridique</a></li>
                <li><a href="#">Règlement des litiges</a></li>
            </ul>
        </div>

        <div>
            <h3>liens utiles</h3>
            <ul>
                <li><a href="#">Conditions générales de vente</a></li>
                <li><a href="#">Politique de confidentialités</a></li>
                <li><a href="#">Politique de cookies</a></li>
            </ul>
        </div>

        <div>
            <h3>CGU</h3>
            <ul>
                <li><a href="#">Propriété intelletcuelle (textes, images, logos)</a></li>
            </ul>
        </div>

        <div>
            <h3>contact</h3>
            <ul>
                <li><a href="#">Formulaire de contact</a></li>
                <li><a href="#">Adresse e-mail</a></li>
            </ul>
        </div>

        <div class="socials">
            <h3>Nos réseaux</h3>
            <ul>
                <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>

    </nav>
    <p class="tom">© 2025 Tom Ochietti - Tous droits réservés</p>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}" class="admin">Administration</a>
    {% endif %}

</footer>
