<footer>

    <img src="#" alt="#">

    <h2>comité miss pin-up bretagne</h2>

    <nav>

        <div>
            <h3>mentions légales</h3>
            <ul>
                <li>Adresse</li>
                <li>Siret</li>
                <li>Hébergeur</li>
                <li>Statut juridique</li>
                <li>Règlement des litiges</li>
            </ul>
        </div>

        <div>
            <h3>liens utiles</h3>
            <ul>
                <li>Conditions générales de vente</li>
                <li>Politique de confidentialités</li>
                <li>Politique de cookies</li>
            </ul>
        </div>

        <div>
            <h3>conditions générales d'utilisation</h3>
            <ul>
                <li>Propriété intelletcuelle (textes, images, logos)</li>
            </ul>
        </div>

        <div>
            <h3>contact</h3>
            <ul>
                <li>Formulaire de contact</li>
                <li>Adresse e-mail</li>
            </ul>
        </div>

        <div>
            <h3>Nos réseaux</h3>
            <ul>
                <li>icône facebook</li>
                <li>icône instagram</li>
            </ul>
        </div>

    </nav>

</footer>
