// Text & elements colors
$primary-color: #AC432A;
$secondary-color: #ECD9B6;
$tertiary-color: #413E3E;

// Font sizes
$font-size-h2: 7rem;
$font-size-h3: 5rem;
$font-size-p: 2rem;

// Font families
$font-family-primary: 'Bebas Neue', sans-serif;
$font-family-secondary: 'Inter', sans-serif;
$font-family-tertiary: 'Limelight', sans-serif;

// Font weights
$font-weight-light: 100;
$font-weight-regular: 400;
