// Text & elements colors
$primary-color: rgb(172, 67, 42);
$secondary-color: rgb(236, 217, 182);
$tertiary-color: rgb(65, 62, 62);
$quaternary-color: rgb(245, 245, 247);

// Font sizes
$font-size-h2: 2rem;
$font-size-h3: 2.5rem;
$font-size-p: 1.5rem;

// Font families
$font-family-primary: 'Bebas Neue', sans-serif;
$font-family-secondary: 'Inter', sans-serif;
$font-family-tertiary: 'Limelight', sans-serif;
$font-family-quaternary: 'Lobster', sans-serif;

// Font weights
$font-weight-light: 100;
$font-weight-regular: 400;
