{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block body %}

    <div class="reset-box" role="main">

        <p role="status" aria-live="polite">
        Si un compte correspondant à votre adresse e-mail existe, un message vient de vous être envoyé.
            Il contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>

        <p>
            Si vous ne recevez pas d’e-mail, vérifiez dans vos spams ou
            <a href="{{ path('app_forgot_password_request') }}" aria-label="Relancer une demande de réinitialisation du mot de passe">
                <strong>essayez à nouveau</strong>
            </a>.
        </p>
    </div>

{% endblock %}
