{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section class="reset-container">
        <h1>Réinitialisation de mot de passe</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small class="inform-text">
                Saisissez votre adresse e-mail.
                Si elle existe, vous recevrez un lien de réinitialisation de votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary reset">Lien de réinitialisation</button>
        {{ form_end(requestForm) }}
    </section>

{% endblock %}
