{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block meta %}
    <meta name="description" content="Politique de confidentialité du site Miss Pin-Up Bretagne — découvrez comment vos données personnelles sont collectées, utilisées et protégées conformément au RGPD.">
{% endblock %}


{% block body %}

    <section class="legal-page legal-container" role="main">
        <h1 >Politique de confidentialité</h1>

        <p>
            L’association <strong>COMITE MISS PIN-UP BRETAGNE</strong> s’engage à respecter la confidentialité des données personnelles
            collectées via le présent site, conformément au Règlement Général sur la Protection des Données (RGPD).
        </p>

        <h2>1. Données collectées</h2>
        <p>
            Nous collectons uniquement les données nécessaires au bon fonctionnement du site et à la gestion des activités de l’association :
            pseudonyme, adresse e-mail, ou toute autre information transmise volontairement via un formulaire.
        </p>

        <h2>2. Finalité du traitement</h2>
            <p>Répondre à vos demandes de contact</p>
            <p>Gérer les adhésions et les activités de l’association</p>
            <p>Envoyer des informations relatives à nos événements</p>

        <h2>3. Vos droits</h2>
        <p>
            Conformément à la législation en vigueur, vous disposez d’un droit d’accès, de rectification, d’effacement et d’opposition concernant vos données personnelles.
            Vous pouvez exercer ces droits en écrivant à : <strong>misspinupbretagne@gmail.com</strong>.
        </p>

        <h2>4. Sécurité</h2>
        <p>
            L’association met en place des mesures techniques et organisationnelles afin d’assurer la protection de vos données contre tout accès non autorisé.
        </p>
    </section>
{% endblock %}
