body.login-page {
    background-image: url('../images/femme10.png');
    background-repeat: no-repeat;
    background-position: center -5rem;
    background-size: 220% auto;
    margin-top: -5rem;

    label {
        background: none;
        color: $tertiary-color;
        font-weight: $font-weight-regular;

    }

    .blur {
        background-color: rgba(228, 225, 217, 0.73);
        -webkit-backdrop-filter: blur(10px) saturate(120%);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        border: 1px solid $tertiary-color;
        padding: 1rem;
        input {
            border: $tertiary-color;
        }
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 1rem 2rem;
    margin-top: 3rem;
}

.back {
    margin-left: 0;
    align-self: flex-start;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-family-primary;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-bottom: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    &:hover {
        background-color: #F5F5F7;
        color: $primary-color;
        border: 1px solid $primary-color;
        transition: 0.3s ease;
    }
}

.remember-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 1rem;
}

.remember-container label {
    all: unset;
    font-weight: $font-weight-regular;
    color: $tertiary-color;
    cursor: pointer;
}

.remember-container input[type="checkbox"] {
    all: unset;
    appearance: auto;
    cursor: pointer;
}

.possibilities {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    color: $tertiary-color;
    div {
        margin-top: 1rem;
    }
}

.login-error {
    color: red;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f8d7da !important;
}

.resend-link {
    color: $tertiary-color;
    font-weight: bold;
    text-decoration: underline;
}
.resend-link:hover {
    color: $primary-color;
}

/* Media Queries */
@media (min-width: 640px) and (max-width: 1199px) {
    body.login-page {
        background-size: 130% auto;
        background-position: -5rem -10rem;
        background-repeat: no-repeat;
    }
    .back {
        margin-left: 5rem
    }
}

/* Media Queries */
@media (min-width: 1200px) {
    body.login-page {
        background-size: 90% auto;
        background-position: 15rem -10rem;
        background-repeat: no-repeat;
    }
    .back {
        margin-left: 8.5rem
    }
}

@media (min-width: 2160px) {
    body.login-page {
        background-size: 70% auto;
        background-position: 40rem -25rem;
        background-repeat: no-repeat;
    }
    .back {
        margin-left: 9rem;
    }
}
