{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}

    <div class="shop-page" role="main">

        <h1 role="heading" aria-level="1">Bienvenue dans la boutique !</h1>

        <h2 role="status" aria-live="polite" class="shop-page">La boutique arrive prochainement !</h2>

    </div>

{% endblock %}
