{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="user-info">
    {% if app.user %}
        <p>Connecté en tant que : <strong>{{ app.user.userIdentifier }}</strong></p>
    {% else %}
    {% endif %}
{% endblock %}
