// Mobile first

* {
    box-sizing: border-box;
}

html, body {
    background-image: url('../../images/bg.png');
    z-index: 1;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding-top: 5rem;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
        .no-scroll {
            overflow: hidden;
            height: 100%;
        }
}

h1 {
    display: none;
}

h2 {
    padding: 0.6rem 0.2rem;
    font-size: $font-size-h2;
    font-family: $font-family-primary;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.star {
    position: absolute;
    width: 40px;
    height: auto;
    pointer-events: none;
}

main {
    margin: 0 auto;
    padding: 6rem 1rem 1rem;
    max-width: 900px;
    position: relative;
}

footer {
    padding: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

//Button
.btn {
    display: inline-block;

    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-family-primary;
    font-size: $font-size-p*0.6;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 50px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input,
textarea {
    transform: scale(0.9);
    width: 90%;
    border: $tertiary-color;
}

::placeholder {
    transform: translateY(-1px);
    font-size: 0.9rem;
}

label {
    display: inline-block;
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
    background-size: 1000%;
    background-position: center;
    font-family: $font-family-quaternary;
    border-radius: 30px;
    font-weight: 400;
    font-size: $font-size-p*0.8;
}
